django==5.2.1
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.0
dj-rest-auth==7.0.1
django-allauth==65.9.0
requests==2.32.3
cryptography==45.0.3
pillow==11.2.1
python-decouple==3.8
groq==0.26.0
dotenv==0.9.9
google-api-python-client==2.170.0
pytz==2025.2
PyMySQL==1.1.1